In [1]:
import pandas as pd
import glob
from datetime import datetime

list_files=glob.glob("Prediction/*.csv")

In [2]:
df_list=[]
for i in list_files:
    print(i)
    df_list.append(pd.read_csv(i,encoding='latin1',sep=";",skiprows=7))

Prediction\21311-0002 (1).csv
Prediction\21311-0002 (2).csv
Prediction\21311-0002 (3).csv
Prediction\21311-0002 (4).csv
Prediction\21311-0002 (5).csv

In [3]:
df=pd.concat(df_list)

In [4]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,männlich,weiblich,Insgesamt,männlich.1,weiblich.1,Insgesamt.1,männlich.2,weiblich.2,Insgesamt.2
0,WS 2011/12,HS1240,Universität Freiburg im Breisgau,9257,9722,18979,1464,1895,3359,10721,11617,22338
1,WS 2011/12,HS1250,Universität Heidelberg in Heidelberg,10640,12755,23395,1743,2909,4652,12383,15664,28047
2,WS 2011/12,HS1252,Universität Heidelberg in Mannheim,-,-,-,-,-,-,-,-,-
3,WS 2011/12,HS1800,Universität Hohenheim,3460,4362,7822,514,588,1102,3974,4950,8924
4,WS 2011/12,HS1580,"Karlsruher Institut für Technologie, Karlsruhe...",14016,4726,18742,2295,1095,3390,16311,5821,22132

In [5]:
df.columns=["semester","ID","University","Deutsche männlich","Deutsche weiblich","Deutsche Insgesamt","Ausländer männlich.1","Ausländer weiblich","Ausländer Insgesamt","Ausländer männlich","Ausländer weiblich","Ausländer Insgesamt"]

In [6]:
df=df[df["ID"]=="HS1240"]

In [8]:
df['University'].unique()

array(['Universität Freiburg im Breisgau'], dtype=object)

In [ ]:
df["year"]=df["semester"].apply(lambda x:datetime.strptime(x[3:].split("/")[0]+"-01-01 00:00", '%Y-%m-%d %H:%M'))

In [ ]:
df=df[["year","Deutsche Insgesamt"]].sort_values("year").reset_index().drop("index",axis=1)

In [ ]:
!pip install neuralprophet

In [ ]:
new_column = df[["year","Deutsche Insgesamt"]] 

new_column.dropna(inplace=True)
new_column.columns = ['ds', 'y'] 
new_column.tail()

In [ ]:
from neuralprophet import NeuralProphet

In [ ]:
 n = NeuralProphet()
model = n.fit(new_column, freq='Y')

In [ ]:
future = n.make_future_dataframe(new_column, periods=10)
forecast = n.predict(future)

In [ ]:
new_column

In [ ]:
forecast['yhat1']=forecast['yhat1'].apply(lambda x:int(x))

In [ ]:
forecast[['ds','yhat1']]